<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecoleta</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/home.css" />
    <link rel="stylesheet" href="styles/modal.css">
    <link rel="stylesheet" href="styles/responsive.css" />
</head>

<body>
    <div id="home-page">
        <div class="content">
            <header>
                <img src="./images/logo.svg" alt="Logo" />
                <a href="create-point.html">
                    <span></span> Register a garbage collection hub</a>
            </header>

            <main>
                <h1 class="red">Your marketplace <br />of waste collection</h1>
                <p>
                    We help people to find garbage collection hubs <br />more efficiently.
                </p>

                <a href="#"><span></span> <strong>Search for collection hub</strong></a>
            </main>
        </div>
    </div>

    <!-- Modal - dialog box/popup window that is displayed on top of the current page: Open Modal. -->
    <div id="modal" class="hide">
        <div class="content">
            <div class="header">
                <h1>Collection hubs</h1>
                <a href="">Close</a>
            </div>
            <form action="./search-results.html">
                <label for="search">City</label>
                <div class="search field">
                    <input type="text" name="search" placeholder="Search a
                            city">
                    <button>
                            <img src="./images/search.svg" alt="search">
                        </button>
                </div>
            </form>
        </div>
    </div>


    <script src="./scripts/index.js"></script>
</body>

</html>